body {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

/** NAVIGATION BAR **/

.navbar-brand{
    font-size: 25px;
}

.nav-item {
    margin-right: 20px;
}

.social-media {
    position: absolute;
    margin-left: 150px;
}

.fa-brands {
    color: darkgray;
}

.fa-brands:hover {
    color:black;
}

.fa-linkedin {
    margin-right: 15px;
}

/** ADVERTISEMENT **/

.advertisement {
    background-color: rgb(207,210,207,0.7); /* may need to change later */
    font-family: 'Lato', sans-serif;
    position: relative;
}

.advertisement .row {
    position: absolute;
    bottom: 60px;
}

.landscape-image {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: -1;
}

/* Profile Image Tile */
.col-lg-6.profile-image {
    height: 500px;
}

/* Profiled Image */
.profile-image img{
    height: 35rem;
    width: 40rem;
}

.profile-desc {
    padding: 80px 0 0 80px;
    font-size: 30px;
    text-align: left;
}

.browse-projects-btn{
    font-family: 'Ibarra Real Nova', serif;
}

/** ABOUT **/

.about {
    background-color: #fff;
}

.about .row{
    margin-top: 40px;
}

.about-tile {
    font-family: 'Lato', sans-serif;
    padding: 20px 40px 0;
    border: 4px dashed black;
    border-radius: 15%;
}

.about-title {
    margin-bottom: 20px;
    font-weight: 700;
}

.about-desc {

    font-size: 20px;
    text-align: left;
}

/** FOOTER **/

footer {
    background-color: #fff;
    padding: 10px 0;
    width: 100%;
}

/** MEDIA QUERIES **/

@media (max-width: 991px) {

    .advertisement .row{
        top: 100px
    }

    .profile-desc {
        text-align: center;
    }

    .profile-image img {
        display: none;
    }

    .social-media .fa-brands{
        display: none;
    }

    .nav-item {
        margin-right: 0;
    }

}

