html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    padding: 30px 0;
}

textarea{
    margin-top: 30px;
}

input, textarea{
    font-weight: 200;
}

/** NAVIGATION BAR **/

.navbar-brand{
    font-size: 25px;
}

.navbar-brand:hover{
    cursor: default;
}

.nav-item {
    margin-right: 20px;
}

/** ADVERTISEMENT **/

.advertisement {
    background-color: rgba(0, 0, 0, 0.6); /* may need to change later */
    color:#fff;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.advertisement .row {
    position: absolute;
    bottom: 60px;
}

.landscape-image {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: -1;
}

/* Profile Image Tile */
.col-lg-6.profile-image {
    height: 500px;
}

/* Profile Image */
.profile-image img{
    height: 42rem;
    width: 42rem;
}

.profile-intro{
    font-size: 80px; 
    margin-bottom: 10px; 
    font-family: 'Roboto Slab', serif; 
    font-weight: 800;
}

.profile-desc {
    padding: 80px 0 0 80px;
    font-size: 30px;
    text-align: left;
}

.browse-projects-btn{
    font-family: 'Ibarra Real Nova', serif;
}

/** ABOUT **/

.about {
    background-color: #E9DAC1;
    padding-bottom: 50px;
    position: relative;
}

.about-discussion{
    margin: 0 250px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 22px;
    text-align: left;
}

.about-discussion.p2, .about-discussion.p3, .about-discussion.p4{
    margin-top: 50px;
}

/** PORTFOLIO **/

.portfolio{
    background-color: #EAFFD0;
}

.project{
    color: #fff;
    position: relative;
    margin-bottom: 50px;
}

.project-img{
    border: 1px solid black;
    border-radius: 15px;
    width: 80%;
}

/* .project-img:hover{
    filter: contrast(0.2)
} */

.project-desc{
    position: absolute;
}

/** CONTACT **/

.contacts{
    background-color: #CADEFC;
}

.contacts-form{
    padding: 10px 0 30px;
}

.contacts-instructions, .contacts-form{
    font-family: 'Noto Sans', sans-serif; 
    font-weight: 200; 
    font-size: 18px;
}

.last-name{
    margin: 0 40px;
}

.first-name, .last-name, .email-address{
    display: inline;
}

/** FOOTER **/

footer {
    padding: 10px 0;
    width: 100%;
}

.social-media {
    margin: 15px auto;
}

/* LinkedIn */

.fa-linkedin {
    color: #0072b1;
    margin-right: 15px;
}

.fa-linkedin:hover{
    color: #004971;
}

/* GitHub */
.fa-square-github{
    color: #171515e3;
}


.fa-square-github:hover{
    color: black;
}

/** MEDIA QUERIES **/

@media (max-width: 991px) {

    /* ADVERTISEMENT */

    .advertisement .row{
        top: 100px
    }

    .profile-desc {
        padding-left: 0px;
        text-align: center;
    }

    .profile-image img {
        display: none;
    }

    /* ABOUT */


    /* Bootstrap CSS */

    .nav-item {
        margin-right: 0;
    }

}

